.vercel

# OS-specific
.DS_Store

# Node dependencies
node_modules/

# Build output
dist/

# Deployment specific
.vercel

# Environment variables
.env
.env.*
!.env.example

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
